



    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1><span class="blueletters">Co-</span>Shop</h1>
              <h3>Votre covoiturage shopping</h3>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li>
                  <a href="https://twitter.com/coshopper" class="btn btn-default btn-lg">
                    <i class="fa fa-twitter fa-fw"></i>
                    <span class="network-name">Twitter</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/coshoppeurs/" class="btn btn-default btn-lg">
                    <i class="fa fa-facebook fa-fw"></i>
                    <span class="network-name">Facebook</span>
                  </a>
                </li>
              </ul>
              <ul class="list-inline intro-social-buttons">
                <li>
                  <a href="#registration" class="btn btn-default btn-lg">
                    <i class="fa fa-car fa-fw"></i>
                    <span class="network-name">Rejoindre</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a name="services"></a>
    <div class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Notre projet:<br>Pouvoir laisser le choix à tout le monde de son enseigne.</h2>
            <p class="lead">Pouvoir donner libre choix dans le choix de son enseigne aux consommateurs en leur proposant de s'y rendre avec d'autres personnes !</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="/images/grande-surface2.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Un systéme économique, écologique et social !<br></h2>
            <p class="lead">Partage de frais pour le déplacement, réduction de l'impact écologique et rencontrez vos voisins !</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="/images/parking.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Trés bientôt une plateforme web et une application mobile.<br></h2>
            <p class="lead">Date, heure, lieu de départ et d'arrivée, une présentation des conducteurs et des passagers, tout ça bientôt disponible pour trouver trés facilement votre prochain compagnon de shopping !</p>
    <a name="registration"></a>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="/images/people.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <!--
	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div> -->
    <!-- /.container -->





    <%= form_for(@registration) do |f| %>
    <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %>
        prohibited this registration from being saved:</h2>

      <ul>
        <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-md-12 registrationblock">
          <div class="well well-sm">
            <form class="form-horizontal" method="post">
              <fieldset>
                <legend class="text-center header">Participez vous aussi au covoiturage shopping:</legend>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-user bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <!-- <input id="fname" name="name" type="text" placeholder="First Name" class="form-control"> -->
                    <%= f.label :prenom %><br>

                    <%= f.text_field :prenom, :class => 'form-control', :id => "fname" %>
                  </div>
                </div>
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-user bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <!-- <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control"> -->
                    <%= f.label :nom %><br>

                    <%= f.text_field :nom, :class => 'form-control', :id => "lname" %>

                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-user bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <%= f.label :age %><br>

                    <%= f.number_field :age, min:18, value:18 %>
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-envelope-o bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <!-- <input id="email" name="email" type="text" placeholder="Email Address" class="form-control"> -->
                    <%= f.label :email %><br>

                    <%= f.text_field :email, :class => 'form-control', :id => "email" %>
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-home bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <!-- <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control"> -->
                    <%= f.label :ville %><br>

                    <%= f.text_field :ville, :class => 'form-control', :id => "ville" %>
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-shopping-cart bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <!-- <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea> -->
                    <%= f.label :'enseignes préférées et sa ville' %><br>

                    <%= f.text_field :enseigne, :class => 'form-control', :id => "enseigne"  %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 text-center">
                    <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
                    <div class="actions">
                      <%= f.submit :class => 'class="btn btn-primary btn-lg', :value => 'Je participe'%>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% end %>

    <!-- </div> -->
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Accueil</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#services">A propos</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#registration">Participer</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Emoovers 2016. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
