<p id="notice"><%= notice %></p>

<h1>Listing Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Ville</th>
      <th>Enseigne</th>
      <th>Age</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.prenom %></td>
        <td><%= registration.nom %></td>
        <td><%= registration.ville %></td>
        <td><%= registration.enseigne %></td>
        <td><%= registration.age %></td>
        <td><%= registration.email %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
